<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver">
		</property>
		<property name="url"
			value="jdbc:oracle:thin:@localhost:1521:orcl">
		</property>
		<property name="username" value="ttc"></property>
		<property name="password" value="ttc"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.Oracle9Dialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/neu/entity/Booking.hbm.xml</value>
				<value>com/neu/entity/Admin.hbm.xml</value></list>
		</property></bean>
	<bean id="AdminDAO" class="com.neu.dao.AdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AdminService" class="com.neu.service.AdminService">
		<property name="ad" ref="AdminDAO"></property>
	</bean>	
	<bean id="AdminAction" class="com.neu.action.AdminAction">
		<property name="as" ref="AdminService"></property>
	</bean>
	
	<bean id="BookingDAO" class="com.neu.dao.BookingDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="BookingService" class="com.neu.service.BookingService">	
		<property name="bd" ref="BookingDAO"></property>
	</bean>
	
	<bean id="BookingAction" class="com.neu.action.BookingAction">	
		<property name="bs" ref="BookingService"></property>
	</bean>
	
	</beans>